@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

.font1-small{
	font-size:14px;
	font-family:'Nanum Gothic', serif;
}

.font1-medium{
	font-size:16px;
	font-family:'Nanum Gothic', serif;
}

.font1-large{
	font-size:30px;
	font-family:'Nanum Gothic', sans-serif;
}
.font2-small{
	font-size:14px;
	font-family:'Nanum Gothic', sans-serif;
}
.font2-medium{
	font-size:22px;
	font-family:'Jua', sans-serif;
}

.font2-large{
	font-size:30px;
	font-family:'Jua', sans-serif;
}

.font2-1em{
	font-size:1em;
	font-family:'Jua', sans-serif;
}
.logo-font{
	font-size:30px;
	font-family:'Faster One', cursive;
}

	
	
body{
	float:left;
	height:100%;
	width:100%;
	position:absolute;
}

.main{
	position:relative;
	height:100%;
	top:80px;
}
	
.center{}
.right{}
.left{}
.footer{position:relative;height:20%;}