@import url('https://fonts.googleapis.com/css?family=Jua');
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

.font1-small{
	font-size:14px;
	font-family:'Nanum Gothic', serif;
}

.font1-medium{
	font-size:16px;
	font-family:'Nanum Gothic', serif;
}

.font1-large{
	font-size:30px;
	font-family:'Nanum Gothic', sans-serif;
}
.font2-small{
	font-size:14px;
	font-family:'Nanum Gothic', sans-serif;
}
.font2-medium{
	font-size:22px;
	font-family:'Jua', sans-serif
}

.font2-large{
	font-size:22px;
	font-family:'Jua', sans-serif;
}

.logo-font{
	font-size:30px;
	font-family:'Faster One', cursive;
}

.main-font-1{
	font-size:1em;
	font-family: 'Jua', 'Gothic A1', sans-serif;
}

.main-font-1.2{
	font-family: 'Jua', 'Gothic A1', sans-serif;
	font-size:1.2em;
}

.main-font-0.8{
	font-family: 'Jua', 'Gothic A1', sans-serif;
	font-size:0.8em;
}

.main-font-1.5{
	font-family: 'Jua', 'Gothic A1', sans-serif;
	font-size:1.5em;
}

.main-font-1.7{
	font-family: 'Jua', 'Gothic A1', sans-serif;
	font-size:1.7em;
}

.main-font-2{
	font-family: 'Jua', 'Gothic A1', sans-serif;
	font-size:2em;
}	
	
body{
	float:left;
	height:110%;
	width:100%;
	position:absolute;
}

.main{
	position:relative;
	height:80%;
	top:60px;
	}
	
.center{}
.right{}
.left{}
.footer{position:relative;height:20%;}