@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Song+Myung|Poor+Story|Do+Hyeon');
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

/* ��Ʈ  */
.font1-small{
	font-size:14px;
	font-family:'Nanum Gothic', serif;
}

.font1-medium{
	font-size:16px;
	font-family:'Nanum Gothic', serif;
}

.font1-large{
	font-size:30px;
	font-family:'Nanum Gothic', serif;
}

.font2-large{
	font-size:16px;
	font-family:'Do Hyeon', serif;
}
	
/* ȭ�� ���� ����*/
body{
	float:left;
	height:110%;
	width:100%;
	position:absolute;
}

.main{
	position:relative;
	height:80%;
	top:60px;
	}
	
.center{}
.right{}
.left{}
.footer{position:relative;height:20%;}